{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<div class="container my-3">
    {% include 'search.html' %}
    <div id="chartContainer" style="height: 500px; width: 100%;"></div>
</div>
<script>

window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	title:{
		text: "{{ codeName }}"
	},
	subtitles: [{
		text: "{{ period }}"
	}],
	axisX: {
		valueFormatString: ""
	},
	axisY: {
		prefix: "",
		title: "Price"
	},
	axisY2: {
		prefix: "",
		suffix: "",
		title: "volume",
		tickLength: 0
	},
	toolTip: {
		shared: true
	},
	legend: {
		reversed: true,
		cursor: "pointer",
		itemclick: toggleDataSeries
	},
	data: [{
		type: "candlestick",
		risingColor: "green",
        fallingColor: "red",
		showInLegend: true,
		name: "Stock Price",
		yValueFormatString: "#,##0",
		dataPoints: [   // Y: [Open, High ,Low, Close]
		    {% for data in data_list %}
			{ x: {{ loop.index0 }}, label:{{ data['date'] }}, y: [{{ data['open'] }}, {{ data['high'] }}, {{ data['low'] }}, {{ data['close'] }}] },
			{% endfor %}
		]
	},
	{
		type: "line",
		showInLegend: true,
		name: "ma120",
		yValueFormatString: "#,##0",
		dataPoints: [
		    {% for data in data_list %}
			{ x: {{ loop.index0 }}, y: {{ data['ma120'] }} },
			{% endfor %}
		]
	},
	{
		type: "line",
		showInLegend: true,
		name: "ma20",
		yValueFormatString: "#,##0",
		dataPoints: [
		    {% for data in data_list %}
			{ x: {{ loop.index0 }}, y: {{ data['ma20'] }} },
			{% endfor %}
		]
	},
	{
		type: "line",
		showInLegend: true,
		name: "volume",
		axisYType: "secondary",
		yValueFormatString: "#,##0",
		dataPoints: [
		    {% for data in data_list %}
			{ x: {{ loop.index0 }}, y: {{ data['volume'] }} },
			{% endfor %}
		]
	},
	]
});
chart.render();

function toggleDataSeries(e) {
	if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else {
		e.dataSeries.visible = true;
	}
	e.chart.render();
}

}
</script>

{% endblock %}